*{
box-sizing: border-box;
margin:0;
padding:0;
}
.main-Box{
    background-color: #f9f2e8;
    height:100vh;
    display:flex;
    flex-direction: column;
    /* border:3px solid blue; */
    justify-content: space-between;
    align-items: center;
}
.upper-Box {
    height: 35vh;
    /* border: 2px solid red; */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;;
}
.case{
    text-transform: uppercase;
}
.body-text{
    font-size: 0.9rem;
}

.bottom-Box {
    
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;;
}
.date{
    cursor:pointer;
}